* {

    box-sizing: border-box;
}

body {
    background: #0e1538;
    height: 100%;
}

header {
    display: flex;
    color: wheat;


}

header nav {
    position: relative;
    left: 10%;
    display: flex;


}

header .logobox img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
}

header .logobox h1 {
    background: -webkit-linear-gradient(45deg, #00ccff, yellow, green, #d400d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logobox {
    position: relative;
    left: 2%;
    display: flex;

}


header .signbox img {
    height: 60px;
    width: 70px;
    border-radius: 30px;
}

header .signbox h4 {
    position: relative;
    margin-left: 5px;
}

header .signbox {
    position: relative;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}



header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;


}

header nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;

}


header nav ul li a:before,
header nav ul li a:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
    inset: -3px;
}

header nav ul li a:nth-child(1):before,
header nav ul li a:nth-child(1):after {
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

header nav ul li a span {
    position: relative;
    top: 0;
    padding: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: #0e1538;
    z-index: 10;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

#recent {
    color: red;
    font-size: 25px;
}

.movietype {
    width: 95%;
    margin: auto;

}


.movietype .head {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.movietype h2 {
    font-size: 4.5em;
    letter-spacing: 1px;
    color: turquoise;
    margin: auto;
    text-align: center;
    display: inline-block;


}

.mainbox {
    position: relative;
    margin: auto;
    margin-left: 5%;

}

.mainbox p {
    color: white;
}

.mainbox .playbox {
    background-color: green;

    width: fit-content;
    height: 70px;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;

}

.playbox a span {
    font-size: 1.9em;
    padding: 10px;
    color: white;
    font-weight: 800;
}

.mainbox .playbox img {
    height: 50px;
    margin-left: -12px;
    width: 50px;
}

.movietype .typebox {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: auto;

}

.movietype .typebox .contentbox {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0e1538;
}

.movietype .typebox .contentbox:hover {
    width: 500px;
}

.movietype .typebox .contentboxx {
    position: relative;
    width: 80%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0e1538;
    margin-top: 50px;
    margin-bottom: 50px;
}

.movietype .typebox .contentbox h3,
.movietype .typebox .contentboxx h3 {
    color: white;
    text-align: center;
    font-size: 2em;
}



.contentbox:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.contentbox:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(20px);
}


.contentboxx:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.contentboxx:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(20px);
}

.contentbox:before,
.contentbox:after {
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}


.contentboxx:before,
.contentboxx:after {
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}

.contentboxx img {
    position: relative;
    width: 40%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: auto;
    position: relative;
    margin-top: 50px;
    border: 4px solid #00bcd4;
    border-radius: 30px;
}

.footer h1 {
    background: -webkit-linear-gradient(45deg, #00ccff, yellow, green, #d400d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer div {
    position: relative;
    margin-bottom: 10px;
}

footer address {
    text-align: center;
    position: relative;
    margin-top: -15px;
    color: white;
}

.sorrybox h2 img {
    height: 100px;
}

.sorrybox {
    display: flex;
    justify-content: center;
}

.sorrybox h2 {
    font-size: 4em;
    color: brown;
}